# Configuracoes de Banco de Dados
DB_HOST=127.0.0.1
DB_NAME=aguaVIVA
DB_USER=seu_usuario
DB_PASS=sua_senha

# Configuracoes da Aplicacao
APP_NAME=Agua Mineral VIVA

# Google Maps API (para calculo de rotas)
GOOGLE_MAPS_API_KEY=sua_chave_api
