<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /aguaVIVA/public/

    # Se o arquivo ou diretório não existe, redirecionar para router.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>